<!DOCTYPE html>
<html>
<head>
    <title>web-test</title>
    <link rel="stylesheet" href="static\css\index2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image\leaf-solid.svg" type="image/x-icon">

</head>
<body>
    <div class="analyze-usage-desktop-10">
        <div class="footer"></div>
        <div class="header">
            <div class="header2"></div>
            <div class="logo2"></div>
            <div class="div">
                做好垃圾分類，
                <br />
                一起守護我們的地球
            </div>
            <a href="/">
                <svg
                    class="leaf-solid-1"
                    width="50"
                    height="50"
                    viewBox="0 0 50 50"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                    d="M26.5625 9.37503C18.8867 9.37503 12.3926 14.4043 10.1855 21.3379C13.4668 19.6778 17.168 18.75 21.0938 18.75H29.6875C30.5469 18.75 31.25 19.4532 31.25 20.3125C31.25 21.1719 30.5469 21.875 29.6875 21.875H28.125H21.0938C19.4727 21.875 17.9004 22.0606 16.377 22.4024C13.8477 22.9785 11.5039 24.0039 9.4043 25.4004C3.74023 29.1797 0 35.6348 0 42.9688V44.5313C0 45.8301 1.04492 46.875 2.34375 46.875C3.64258 46.875 4.6875 45.8301 4.6875 44.5313V42.9688C4.6875 38.2129 6.70898 33.9356 9.94141 30.9375C11.875 38.3106 18.584 43.75 26.5625 43.75H26.6602C39.5605 43.6817 50 30.9668 50 15.293C50 11.1328 49.2676 7.17776 47.9395 3.61331C47.6855 2.93948 46.6992 2.96878 46.3574 3.60354C44.5215 7.04104 40.8887 9.37503 36.7188 9.37503H26.5625Z"
                    fill="#04DC00"
                    />
                </svg>
            </a>
            <div class="logo3"></div>
            <div class="div3">聯絡我們</div>
            <div class="div4"></div>
            <div class="div5"><a class='a_black' href="phone_upload.html">手機版功能</a></div>
            </div>
            <div class="div6">查看垃圾桶用量</div>
            <div class="rectangle-9"></div>
            <div class="div7">中壢-緯育</div>
            <div class="div8">
            <div class="div9"></div>
            <a href="analyze1.html">
                <img class="bg-garbage" src="static\image\bg-garbage.jpg" />
            </a>
            <div class="div10"><a class='a_black' href="analyze1.html">緯育八樓</a></div>
            </div>
            <div class="rectangle-92"></div>
            <div class="div11">中壢-緯育</div>
            <div class="div8">
            <div class="div12"></div>
            <a href="analyze1.html">
                <img class="bg-garbage2" src="static\image\bg-garbage.jpg" />
            </a>
            <div class="div13"><a class='a_black' href="analyze1.html">緯育九樓</a></div>
            </div>
        </div>

</body>
</html>